html,
html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family: Open Sans, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.iframe-container {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
}

.iframe-container > iframe {
  border: 0;
  width: 100%;
  flex: 1;
}

.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 50px;
  padding: 15px 0 0 15px;
  background-color: #F2F2F2;
  border-top: 1px solid #e7e7e7;
}

.controls > * {
  margin-right: 15px;
  margin-bottom: 15px;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 0 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
  color: white;
  background-color: #1caad9;
  height: 25px;
  font-size: 12px;
}

button.disabled {
  background-color: #cccccc;
}

#loading-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  padding: 25%;
  z-index: 10;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

main {
    max-width: 1200px;
}

span {
    display: inline-block;
    text-decoration: none;
}

.justify-title {
    display: flex;
    justify-content: space-between;
}

#accordion {
    background-color: white;
    width: 92vw;
    text-align: left;
    transition: 0.4s;
    border: none;
    padding: 0px;
    color: blue;
}

.panel {
    padding: 0 1em;
    background-color: white;
    display: none;
    overflow: hidden;
}

.rotate{
    transform: rotate(90deg);
}

.project-page {
    height: 100vh;
    width: 100vw;
}

.landing-embed {
    height: 60vh;
    width: 92vw;
}

a {
    text-decoration: none;
}

.project-page-links {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.project-page-links > h3 {
    margin: 8px 0;
}

.margins {
    margin: 4vh 4vw;
    width: 92vw;
}

section {
    margin-bottom: 4em;
}

li {
    margin-left: 3em;
    line-height: 1.3em;
}

h1 {
    font-size: 6em;
    text-align: justify;
  }
  
h2 {
    font-size: 2.6em;
    text-decoration: underline;
    margin: 0 0 0.6em 0;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 500px) {
    
    h1 {
        font-size: 1.8em;
        margin: 1.8em 0;
        line-height: 1;
    }

    h2 {
        font-size: 2em;
        margin-bottom: .8em;
    }

    section {
        margin-bottom: 3.2em;
    }

    p { 
        margin-bottom: 1.2em;
    }

    li {
        margin-left: 1em;
    }
}
